
  
        
       
    
   
         
         <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>      
        
        <div id="data" style="font: Tahoma; margin-top:150px; margin-left:200px;">
        <h1 style="margin-left:150px;"> <b> SITES TO VISIT </b> </h1> <br/>
        <form class="form-horizontal">
                    
        <div class="form-group"> 
        <label class="control-label col-sm-2" for="title">Title:</label>
        <div class="col-sm-4">
        <input type="text" style="width:500px;" class="form-control" id="title" placeholder="Enter the Title" value=" "(keyup)="onNamekeyup($event)">
        </div>
        </div>
                
        <div class="form-group"> 
        <label class="control-label col-sm-2" for="content">message:</label>
        <div class="col-sm-4">
        <input style=" width:500px;" type="text" class="form-control" id="content" placeholder="body content" value=""(keyup)="onNamekeyup($event)"></div>
        </div>
        </form>
        <button  (click)="myfunction()" class="btn btn-default" style="margin-left:120px;"> ADD </button>
        </div>  
   
       
      
