<div class="booked">
  <!-- Title -->
  <div class="title">
  books
  </div>
 
  <!-- Product #1 -->
  <div class="item">
    
 
    <div class="image">
      <img src="assets/images/ngcourse2.jpg"  alt="images"  style="width:80px;height:80px;"   />
      <span class="caption">HeroAngluar</span>
    </div>
    
 
    <div class="description">
      <span><strong>Author:</strong></span>
      <span>paul</span>
      <span>samuel</span>
    </div>
    <div class="total-price"><strong>price:</strong>549</div>
  </div>
 
  <!-- Product #2 -->
  <div class="item">
    
    <div class="image">
      <img src="assets/images/hero.png" alt=""  style="width:80px;height:80px;"/>
      <span class="caption">Angularspl</span>
    </div>
 
    <div class="description">
      <span><strong>Author:</strong></span>
      <span>Bruce</span>
      <span>Wayen</span>
    </div>
    <div class="total-price"><strong>price:</strong> 549</div>
  </div>
  <!-- Product #3 -->
  <div class="item">

    <div class="image">
      <img src="assets/images/flatbook-ngbook-small.png" alt=""  style="width:80px;height:80px;"/>
      <span class="caption">Ng Angular</span>
    </div>
 
    <div class="description">
      <span><strong>Author:</strong></span>
      <span>Ari</span>
      <span>Leaner</span>
    </div>
    <div class="total-price"><strong>price:</strong>549</div>
  </div>
</div>