#block1:hover, #block2:hover, #block3:hover, #block4:hover{
    display: block;
    background-color: rgb(187, 184, 184);
    color: white;

}

#main_body{
    font-size: 18px;
    padding-left: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    
    text-align:center;
    font-size: 18px;
}